.home-greeting-event-separator {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
body {
  font-family: "Bungee", cursive;
  font-family: "Prompt", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fffafa;
  margin: 0;
}
