.btn-login {
  width: 400px;
  height: 70px;
  background-color: #0a040c;
  color: #e73725;
  position: absolute;
  margin-top: 640px;
  margin-left: 670px;
  border-radius: 3px;
  font-family: "Bungee", cursive;
  font-family: "Prompt", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  font-weight: bold;
  border-color: #e73725;
  border-style: solid 30px;
  padding: 10px;
}
