.betslip-item-box-space-between {
  border: 1px solid #00AFF0;
  width: auto;
  display: flex;
  border-radius: 5px;
  margin-left: 8px;
  margin-right: 8px;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

.betslip-item-box-center { 
  display: flex;
  justify-content: center;  
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
  background-color: #ffffff;
  font-family: 'Bebas Neue', cursive;
}

.team-bet-game {
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
}

.odds-on-slip {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cancel-and-bet-info {
  display: flex;
  flex-direction: row;
}

.betslip-cancel-button {
  display: block;
    padding: 10px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
    background: #00AFF0;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.bet-slip-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 45px;
  font-weight: 550;
  /* border-bottom: solid 1px  #ec121f;
  border-top: solid 1px #ec121f; */
  /* background-color: #0a040c; */
  color: #00AFF0;
  
}

.balance {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 15px;
  padding-top: 10px;
  margin-left: 10px;
}