.event-box {
    width: auto;
    display:flex;
    flex-direction: column;
    background-color: #a0a4ab;
    padding: 15px   ;
}
.event-title-words {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    font-weight: 500;
}
.event-selection-button-homepage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 30px 10px 30px;
}

.game-button {
    background-color: #bac1c9;
    height: 50px;
    width: 15%;
    border: outset 3px #a0a4ab;
    font-weight: 600;
    font-size: 20px;
    
}
