.event-box {
    width: auto;
    display:flex;
    flex-direction: column;
    background-color: #a0a4ab;
    padding: 15px;
    font-family: 'Bebas Neue', cursive;
}
.event-title-words {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    font-weight: 500;
}
.event-selection-button-homepage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 30px 10px 30px;
}

.game-button {
    display: block;
    padding: 10px 30px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    background: red;
    color: white;    
}