.footer {
  display: flex;
  background-color: #ffffff;
  color: #00aff0;
  height: 80px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.footerImg {
  width: 90px;
  height: 81px;
  display: flex;
  justify-content: left;
  border-radius: 8px;
  /* margin-left: 33px; */
  margin-top: 15px;
}

.inc {
  margin-top: 10px;
  margin-right: 10px;
}

.go-to-top-button {
  flex: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
  max-height: 80px;
  color: #00aff0;
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: x-large;
  color: #00aff0;
  font-family: "Bebas Neue", cursive;
  margin-right: 25px;
  text-decoration: none;
}

@media all and (max-width: 400px) {

  .footerImg {
    width: 90px;
    height: 81px;
    display: flex;
    justify-content: left;
    border-radius: 8px;
    position: fixed;
    margin-left: 0px;
    margin-top: 15px;
  }

  .go-to-top-button {
    flex: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    max-height: 80px;
    color: #00aff0;
    font-size: 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: x-large;
    color: #00aff0;
    font-family: "Bebas Neue", cursive;
    text-decoration: none;
    margin-right: -30px;
  }

  .inc {
    margin-top: 10px;
    margin-left: 90px;
    width: 50%;
  }

}

@media only screen and (max-width: 650px) {
  .links a {
    font-size: 15px;
  }
  .rightSide button {
    display: flex;
  }
  .leftSide.links {
    display: none;
  }
  .rightSide #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 125px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 230px;
  }
  .rightSide #hidden a {
    margin: 8px;
    font-size: 20px;
  }
  .rightSide .links {
    display: none;
  }
}
