.fixture-card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #00AFF0;
  margin: 10px;
  padding: 10px;
  min-height: 300px;
  color: white;
}
.teams-and-scores {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
.fixture-odds {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.odds {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.total-and-spread-alignment {
  display: block;
    padding: 10px 30px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
    background: #00AFF0;
    color: white;
}
.total-and-spread-points {
  background: black;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.pushable:active .front {
  transform: translateY(-2px);
}