.topbox {
  background-color: #0000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0px 10px 0px;
  padding: 5px 40px 5px 40px;  
}
.words {
  display: flex;
  flex-direction: column;  
}
.hello {
  font-weight: bold;
  font-size: 28px;
  color: red;
  font-family: 'Bebas Neue', cursive;
}
.avatar {
  border-radius: 10%;
}
