@font-face {
  font-family: stamped;
  src: url(fonts/higher-jump.regular.ttf);
}

.topbox {
  background-color: #0000;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  margin: 100px 0px 10px 0px;
  padding: 5px 40px 5px 40px;  
  
}
.words {
  display: flex;
  flex-direction: column;  
}
.hello {
  font-weight: bold;
  font-size: 30px;
  color: #00AFF0;
  font-family: 'Bebas Neue', cursive;
  padding-right: 175px;
}
.avatar {
  border-radius: 10%;
}

.greeting{
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 720px) {

}

@media all and (max-width: 420px) {
  .hello {
    font-size: 20px;
    color: #00AFF0;
    font-family: 'Bebas Neue', cursive;
    padding-right: 10px;
  }

  .topbox {
    background-color: #0000;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px 10px 0px;
    padding: 5px 40px 5px 40px;  
    
  }
} 