.view-select-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: white;
  margin-bottom: 12px;
}

.selector-card {
  /* display: block; */
  margin: 0 40px;
  /* width: 30px; */
  padding: 10px 30px;
  border-radius: 12px;
  font-size: 22px;
  font-weight: 550;
  background-color: #1c1c1c;
  font-family: "Bebas Neue", cursive;
  color: #00aff0;
}
